async-timeout==4.0.3
bcrypt==4.1.2
cffi==1.16.0
cryptography==42.0.5
numpy==1.26.4
opencv-python==4.9.0.80
paramiko==3.4.0
pillow==10.2.0
PyAudio==0.2.14
pycparser==2.21
PyNaCl==1.5.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.12
PyQt5-sip==12.13.0
PyTurboJPEG==1.7.3
redis==5.0.3
scp==0.14.5
-e git+https://bitbucket.org/socialroboticshub/framework.git@57808748c98b09bc896075a42042b4f28e3059aa#egg=sic_framework
six==1.16.0
